*.sqlite3
node_modules
bower_components
deploy/shared/keys/aws_config
deploy/shared/keys/id_rsa
deploy/shared/keys/id_rsa.pub
api/config/twitter.js
api/config/s3.js

.vagrant/machines/dev/virtualbox/action_provision

.vagrant/machines/dev/virtualbox/action_set_name

.vagrant/machines/dev/virtualbox/id

.vagrant/machines/dev/virtualbox/index_uuid

.vagrant/machines/dev/virtualbox/synced_folders

logs/nginx-mobilevis-access.log

logs/nginx-mobilevis-error.log

logs/upstart-mobilevis.log

public/app.css
