#image-previews {
  margin-top: 10px;
  margin-bottom: 10px;
  display: block;
  width: 100%;
  .file-row {
    display: inline-block;
    float:left;
    margin-right:10px;
    width: 120px;
    overflow:hidden;
    background-color: white;
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;

  }
  .glyphicon {
    top: -1px;
    left: -2px;
  }
  .glyphicon-trash:before {
    content: "\00D7";
  }
}
