<form class="form-horizontal dropzone add-submission" enctype="multipart/form-data">
  <fieldset>

    <!-- Form Name -->
    <legend>Add a New Example</legend>

    <!-- Text input-->
    <div class="control-group">
      <label class="control-label" for="name">Name</label>
      <div class="controls">
        <input id="name" name="name" type="text" placeholder="" class="input-xlarge" required="">
        <p class="help-block">Visualization Name</p>
      </div>
    </div>

    <!-- Text input-->
    <div class="control-group">
      <label class="control-label" for="creator">Original author:</label>
      <div class="controls">
        <input id="creator" name="creator" type="text" placeholder="" class="input-xlarge" required="">
        <p class="help-block">Name of person or organization that created this visualization</p>
      </div>
    </div>

    <!-- Text input-->
    <div class="control-group">
      <label class="control-label" for="original_url">URL</label>
      <div class="controls">
        <input id="original_url" name="original_url" type="text" placeholder="" class="input-xlarge">
        <p class="help-block">Link to the original visualization</p>
      </div>
    </div>

    <!-- Textarea input -->
    <div class="control-group">
      <label class="control-label" for="description">About/Description:</label>
      <div class="controls">
        <textarea id="description" name="description" rows="3" class="input-xlarge"></textarea>
        <p class="help-block">Optional. Any comments you'd like to make about this particular visualization.</p>
      </div>
    </div>


    <!-- Text input-->
    <div class="control-group">
      <label class="control-label" for="tags">Tags</label>
      <div class="controls">
        <div class="tag-select-container"></div>
        <input id="tags" name="tags" type="text" placeholder="" class="input-xlarge">
        <p class="help-block">For example: Visualization type like "bar chart" or "scatterplot"</p>
      </div>
    </div>

    <!-- File Button -->
    <div class="control-group">
      <label class="control-label" for="image-mobile">Mobile Screenshots</label>
      <div class="controls">
        <!-- <input id="image-mobile" multiple name="image-mobile[]" class="input-file" type="file"> -->
        <div class="image-dropzone">
          <span class="btn btn-success fileinput-button dz-clickable">
            <i class="glyphicon glyphicon-plus"></i>
            <span>Add images...</span>
          </span>
        <h4>Or  Drag and Drop your images here</h4></div>
        <div id="image-previews"></div>
      </div>
    </div>

    <!-- Button -->
    <div class="control-group" style="clear: left;">
      <label class="control-label" for="submit">Save</label>
      <div class="controls">
        <button id="submit" name="submit" class="btn btn-primary">Save</button>
      </div>
    </div>

  </fieldset>
</form>
