<h1 class="col-md-12">
  Add a New Example
</h1>
<form class="form-horizontal dropzone add-submission col-md-7" enctype="multipart/form-data">
  <fieldset>

    <!-- Text input-->
    <div class="control-group">
      <label class="control-label" for="name">Name</label>
      <div class="controls">
        <input id="name" name="name" type="text" placeholder="" class="input-xlarge" required="">
        <p class="help-block">Visualization Name</p>
      </div>
    </div>

    <!-- Text input-->
    <div class="control-group">
      <label class="control-label" for="creator">Original author:</label>
      <div class="controls">
        <input id="creator" name="creator" type="text" placeholder="" class="input-xlarge" required="">
        <p class="help-block">Name of person or organization that created this visualization</p>
      </div>
    </div>

    <!-- Text input-->
    <div class="control-group">
      <label class="control-label" for="original_url">URL</label>
      <div class="controls">
        <input id="original_url" name="original_url" type="text" placeholder="" class="input-xlarge">
        <p class="help-block">Link to the original visualization</p>
      </div>
    </div>

    <!-- Textarea input -->
    <div class="control-group">
      <label class="control-label" for="description">About/Description:</label>
      <div class="controls">
        <textarea id="description" name="description" rows="3" class="input-xlarge"></textarea>
        <p class="help-block">Optional. Any comments you'd like to make about this particular visualization.</p>
      </div>
    </div>


    <!-- Text input-->
    <div class="control-group">
      <label class="control-label" for="tags">Tags</label>
      <div class="controls">
        <div class="tag-select-container"></div>
        <input id="tags" name="tags" type="text" placeholder="" class="input-xlarge">
        <p class="help-block">For example: Visualization type like "bar chart" or "scatterplot"</p>
      </div>
    </div>

    <!-- File Button -->
    <div class="control-group">
      <label class="control-label" for="image-mobile">Mobile Screenshots</label>
      <div class="controls">
        <!-- <input id="image-mobile" multiple name="image-mobile[]" class="input-file" type="file"> -->
        <div class="image-dropzone">
          <span class="btn btn-success fileinput-button dz-clickable">
            <i class="glyphicon glyphicon-plus"></i>
            <span>Add images...</span>
          </span>
        <h4>Or  Drag and Drop your images here</h4></div>
        <div id="image-previews"></div>
      </div>
    </div>

    <!-- Button -->
    <div class="control-group" style="clear: left;">
      <div class="controls">
        <button id="submit" name="submit" class="btn btn-primary">Submit Your Example</button>
        <img id="loader-gif" style="display:none; padding: 20px;" src="/assets/load.gif" alt="Submitting example, please wait." />
      </div>
    </div>

  </fieldset>
</form>

<div class="col-md-5 instructions">
  <h4>Best Practices for Submitting Examples:</h4>
  <p>
    <ol>
      <li>
        Provide a descriptive <b>name</b> to the original project or application.
      </li>
      <li>
        Provide the <b>original author</b> for this example. Ideally, use
        an organization name, like "Propublica" or attribute to a specific creator.
      </li>
      <li>
        Try to provide a <b>url</b> that will allow users to visit your example live from
        their browsers or mobile phones.
      </li>
      <li>
        Provide a <b>description</b> of the original project or application so that people have
        context for what they are looking at.
      </li>
      <li>
        Use <b>descriptive tags</b> that will allow others to find your example when looking
        through collections. Common examples include different <a href="http://guides.library.duke.edu/vis_types">
        visualization types</a>, the type of media (photo, video, sound etc.) if any is used, and areas
        of potential interest (elections, journalism, health etc.) Don't be shy - the more tags, the better.
        Try to use tags that already exist.
      </li>
      <li>
        When uploading <b>images</b> consider taking screenshots of the web version as well. Seeing the differences
        can be really enlightening! Also, submitting animated gifs is a great idea when you want to show
        an interesting interaction model or animation.
      </li>
    </ol>
  </p>
</div>
