<ul class="submissions">
  <% _.each(submissions, function(submission) { %>
    <li class="submission" data-submission-id="<%= submission.id %>">
      <div class="submission-content">
        <div class="image">
          <div style="background-image: url(https://s3.amazonaws.com/mobilevis.bocoup.com/images/<%= submission.main_image.url %>);" />
        </div>

        <div class="submission-info">
          <h3 class="title"><%= submission.name %></h3>
          <div class="creator">by <a data-creator="<%= submission.creator %>"><%= submission.creator %></a></div>
          <div class="submitted_by">
            Submitted by:
            <a data-user="<%= submission.twitter_handle %>">
              @<%= submission.twitter_handle %>
            </a>, <%= submission.timestamp %>.
            <br/>
            <% if (submission.images.length > 1) { %>
              There are <b><%= submission.images.length %></b> screenshots.
            <% } else { %>
              There is <b>1</b> screenshot.
            <% } %>

          </div>
          <div class="tags">
            <% if (submission.tags.length) { %>
              <% submission.tags.forEach(function(tag) { %>
                <span class="tag" data-tag="<%= tag.tag %>" data-tag-id="<%= tag.id %>"><%= tag.tag %></span>
              <% }); %>
            <% } %>
          </div>
        </div>
      </div>
    </li>
  <% }); %>
</ul>
