.edit-submission {

  ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;

    li {
      display: inline-block;
      float: left;
      margin-right: 10px;
      width: 120px;
      overflow: hidden;
      background-color: #fff;
      padding: 10px;
      text-align: center;
      border: 1px solid #ddd;
      margin-top: 10px;

      img {
        width: 100%;
      }
    }
  }


  input[type="radio"] {
    width: auto;
    vertical-align: top;
    margin-bottom: 10px;
  }
}
