.submission.row {

  h3.title {
    margin-bottom: 0;
  }

  div.creator {
    margin-bottom: 1em;
    border-bottom: 1px solid #CCC;
    padding-bottom: 1em;
  }

  div.submitted_by {
    font-size: 0.8em;
  }

  .col-md-8 {
    padding: 0;
  }

  .col-md-4 {
    padding: 0 2em 0 2em;
  }

  div.image-container {
    position: relative;
    background: white;
    margin-top: 1.8em;

    .image-control {
      position: absolute;
      width: 35px;
      height: 100%;
      z-index: 900;
      cursor: pointer;
      background: #E9E9E9;

      &:hover {
        background: #DADADA;
      }
    }

    .image-control.image-after {
      background-image: url(src/assets/arrow-right.png);
      background-repeat: no-repeat;
      background-position: 10px center;
      right: 0;
    }

    .image-control.image-before {
      background-image: url(src/assets/arrow-left.png);
      background-repeat: no-repeat;
      background-position: 10px center;
      left: 0;
    }

    div.image {

      margin-top: 10px;
      overflow: hidden;

      margin: 5px auto;
      position: relative;

      .swiper-slide {
        text-align:center;
        display:table-cell;
        padding: 2em 3em;

        img {
          max-width: 100%;
        }
      }
    }
  }

  .controls {
    .see-live {
      background: #f1347d;
      color: white;
      padding: .3em .5em;
      border-radius: 3px;
      text-decoration: none;

      &:hover {
        background: #CF2F6D;
      }
    }
  }
}