<div class="submission row`">

  <div class="metadata col-md-7">
    <h3 class="title"><%= submission.name %></h3>
    <div class="creator">by <%= submission.creator %></div>
    <div class="submitted_by">
      Submitted by:
      <a href="http://twitter.com/<%= submission.twitter_handle %>">
        @<%= submission.twitter_handle %></a>,
        <%= submission.timestamp %>
    </div>

    <div class="tags">
      <% if (submission.tags.length) { %>
        <% submission.tags.forEach(function(tag) { %>
          <span class="tag" data-tag="<%= tag.tag %>" data-tag-id="<%= tag.id %>"><%= tag.tag %></span>
        <% }); %>
      <% } %>
    </div>

    <div class="image">
      <% _.each(submission.images, function(image) { %>
        <img src="https://s3.amazonaws.com/mobilevis.bocoup.com/images/<%= image.url %>" />
      <% }); %>
    </div>
  </div>

  <!-- comments and any extra data goes here -->
  <div class="extra col-md-5">

  </div>

</div>