.content {
  .submission.row {

    h3.title {
      margin-bottom: 0px;
      margin-top: 0px;
    }

    div.creator {
      font-size: 0.8em;
      color: #444;
      margin-bottom: 10px;
    }

    div.submitted_by {
      font-size: 0.8em;
      color: #444;
    }

    div.image-container {
      position: relative;
      .image-control {
        position: absolute;
        width: 35px;
        height: 100%;
        z-index: 900;
        cursor: pointer;
      }

      .image-control.image-after {
        background-image: url(src/assets/arrow-right.png);
        background-repeat: no-repeat;
        background-position: right center;
        right: 10px;
      }

      .image-control.image-before {
        background-image: url(src/assets/arrow-left.png);
        background-repeat: no-repeat;
        background-position: 3px center;
        left: 10px;
      }

      div.image {

        margin-top: 10px;
        overflow: hidden;

        margin: 5px auto;
        position: relative;

        .swiper-slide {
          text-align:center;
          display:table-cell;
          img {
          }
        }
      }
    }
  }
}