.content {
  .submission {

    h3.title {
      margin-bottom: 0px;
      margin-top: 0px;
    }

    div.creator {
      font-size: 0.8em;
      color: #444;
      margin-bottom: 10px;
    }

    div.submitted_by {
      font-size: 0.8em;
      color: #444;
    }

    div.image {
      margin-top: 10px;
      img {
        width: 100%;
      }
    }
  }
}

@media (max-width: 420px) {
  .content {
    .submission {
    }
  }
}