div.tags {
  font-size: 0.8em;
  margin-top: 1em;

  span.tag {
    padding: .3em .6em;
    margin-bottom: .5em;
    background-color: #B4B4B4;
    color: white;
    border-radius: 3px;
    cursor: pointer;
    display: inline-block;

    &.tag:hover {
      background-color: #969393;
    }
  }

  span.tag:hover {
    background-color: orange;
  }
}