div.tags {
  font-size: 0.8em;
  margin-top: 10px;

  span.tag {
    margin-top: 3px;
    padding: 3px;
    background-color: steelblue;
    color: white;
    border-radius: 3px 3px 3px 3px;
    cursor: pointer;
    display: inline-block;
  }

  span.tag:hover {
    background-color: orange;
  }
}