.submission {
  .comments {

    margin-top: 20px;

    form {
      textarea {
        width: 100%;
      }
    }

    .posted-comments {
      margin-top: 20px;
    }

    .comment {

      margin-bottom: 10px;

      .body {
        padding: 10px;
        background-color: #fefefe;
        margin-bottom: 5px;
        display: inline-block;
        width: 100%;
      }

      .author {
        font-size: 0.8em;
      }

    }
  }
}
