<div class="comments">

  <% var leaveComments = loggedIn; %>

  <% if (leaveComments) { %>

    <form class="comment-form">
      <fieldset>
        <legend>Leave a Comment</legend>

        <div class="control-group">
          <textarea id="comment" name="comment" rows="3" class="input-xlarge"></textarea>
        </div>

        <div class="control-group">
          <div class="controls">
            <button id="submit" name="submit" class="btn btn-primary">Post</button>
          </div>
        </div>

      </fieldset>
    </form>

  <% } else { %>
    You must be logged in to leave a comment.
  <% } %>

  <div class="posted-comments">
    <% if (comments.length) { %>

      <% _.each(comments, function(comment) { %>

        <div class="comment">
          <div class="body">
            <%= comment.comment %>
          </div>

          <div class="author">
            Posted by: <a href="http://twitter.com/<%= comment.twitter_handle %>">
              @<%= comment.twitter_handle %></a>,
              <%= comment.timestamp %>
          </div>

        </div>
      <% }); %>

    <% } else { %>
      There are no comments yet.
    <% } %>
  </div>

</div>