<div class="about col-md-8">
  <h1>What is MobileVis?</h1>

  <p>
    Data Visualization is common in every day communication on-line
    and in print media. As consumers shift to mobile devices for their daily information
    consumption on the web, we are faced with the challenge of designing new
    interfaces and interactions that work with these smaller screens. While
    <a href="http://n.wikipedia.org/wiki/Responsive_web_design">Responsive Web Design</a>
    helps alleviate some of these challenges, data visualization brings some additional
    challenges to the table having to do with specifically displaying and interacting with information.
  </p>

  <p>
    As we started working on mobile data visualization projects, we had to search
    for examples across the web to identify common patterns and try to make educated
    decisions on design patterns that would work based on visual methods and other
    data-visualization-specific criteria. <span class="mobilevis">MobileVis</span>
    aims to provide both: A collection of examples (and discussion) of data visualization use on mobile
    devices as well as a collection of patterns that we identify from these examples.
  </p>

  <h2>What is MobileVis Actually?</h2>

  <p>
    MobileVis is actually comprised of two parts:
    <ol>
      <li>A <a href="/">gallery</a> of examples of data visualization interfaces on mobile devices.</li>
      <li>A set of <a href="/patterns">patterns and observed best practices</a> for what works in data visualization on our smaller screens.</li>
    </ol>
  </p>

  <h2>What Can I Do Here?</h2>
  <p>
    So much!

    <h3>View examples:</h3>
    <ol>
      <li>
        You can view examples of data visualization uses on mobile devices and how they compare with
        their equivalent web interfaces. The home page contains many of these examples, and you can click
        the thumbnails to see more information about them. For example:

        <ul class="submissions">
          <li class="submission" data-submission-id="13">
            <a href="/submission/13" style="color:#6d6c6c">
              <div class="submission-content">
                <div class="image">
                  <div style="background-image: url(https://s3.amazonaws.com/mobilevis.bocoup.com/images/b75eecc6-d15a-4a9b-9669-df2252a0f0db);"></div>
                </div>

                <div class="submission-info">
                  <h3 class="title">Obama’s Vineyard</h3>
                  <div class="creator">by <a data-creator="The Boston Globe">The Boston Globe</a></div>
                  <div class="submitted_by">
                    Submitted by:
                    <a data-user="ireneros">
                      @ireneros
                    </a>, 5 days ago
                  </div>
                  <div class="tags">

                      <span class="tag" data-tag="Parallax" data-tag-id="24">
                        <a href="/tag/24" style="color:white">Parallax</a>
                      </span>

                      <span class="tag" data-tag="Waffle Chart" data-tag-id="25">
                        <a href="/tag/25" style="color:white">Waffle Chart</a>
                      </span>

                      <span class="tag" data-tag="Clipart" data-tag-id="26">
                        <a href="/tag/26" style="color:white">Clipart</a>
                      </span>


                  </div>
                </div>
              </div>
            </a>
          </li>
        </ul>
      </li>

      <li>
        Examples are <b>tagged</b> by their submitters. Example tags involve different visualization types,
        like <span class="tag"><a href="/tag/10" style="color:white">Bar Chart</a></span> or
        <span class="tag"><a href="/tag/14" style="color:white">Choropleth</a></span> or even
        areas of interest, like <span class="tag"><a href="/tag/17" style="color:white">Elections</a></span>.
        Clicking these tags will reveal other examples that were tagged the same way.
        When tagging examples of your own, try to reuse existing tags so we can build up these
        collections!
      </li>

      <li>
        Examples are submitted by users that are identified with their twitter usernames, like
        <a href="/user/ireneros">@ireneros</a>. Click the username to see other
        submissions by this user.
      </li>

      <li>
        Examples are usually from specific organizations or people, like <a href="/creator/The%20Boston%20Globe">
        The Boston Globe</a>. Click the name to see other examples from these organizations. It's a
        great way to see repeating patterns or templates that may have been used to create content!
      </li>
    </ol>
  </p>

  <h3>Submit Examples:</h3>
  <p>
    Without users submitting examples, we wouldn't have much to show for! Your contributions
    would help our community become better, so no example is too small or too trivial and
    "the more the better" applies here!
  </p>

  <p>
    You must be logged in to submit an example. We use twitter authentication for our login system. We don't
    store any of your profile information on our servers - only your twitter handle so that we may associate
    it with your submissions. We will never tweet on your behalf.
  </p>

  <p>
    Click on the upload button <img src="/src/assets/about-upload.png" /> to add your example once you are logged in.
  </p>

  <h4>Best Practices for Submitting Examples:</h4>
  <p>
    <ol>
      <li>
        Provide a descriptive name to the original project or application.
      </li>
      <li>
        Try to provide a link that will allow users to visit your example live from
        their browsers or mobile phones.
      </li>
      <li>
        Provide a description of the original project or application so that people have
        context for what they are looking at.
      </li>
      <li>
        Use descriptive tags that will allow others to find your example when looking
        through collections. Common examples include different <a href="http://guides.library.duke.edu/vis_types">
        visualization types</a>, the type of media (photo, video, sound etc.) if any is used, and areas
        of potential interest (elections, journalism, health etc.) Don't be shy - the more tags, the better.
        Try to use tags that already exist.
      </li>
      <li>
        When uploading images consider taking screenshots of the web version as well. Seeing the differences
        can be really enlightening!
      </li>
    </ol>
  </p>

  <h3>Help Make MobileVis Better:</h3>

  <p>
    MobileVis is an open source project! You can help us submit or fix bugs, add features and
    write new design patterns. The web is evolving every day and we don't expect to be
    able to keep up without your help! Please help us author content so that we can create
    a lasting place for our community.

    <ol>
      <li>
        <a href="http://github.com/bocoup/mobilevis">MobileVis Gallery Website</a>
      </li>
      <li>
        <a href="http://github.com/bocoup/mobilevis-patterns">MobileVis Pattern Website</a>
      </li>
    </ol>
  </p>

  <h2>Who Made This?</h2>

  <p>
    <span class="mobilevis">MobileVis</span> is a project created by
    <a href="http://ireneros.com">Irene Ros</a> and your <a href="http://bocoup.com">Bocoup</a> friends
    thanks to the support of <a href="http://www.knightfoundation.org/funding-initiatives/knight-prototype-fund/">Knight
    Foundation's Prototype Fund</a>.
  </p>

  <p>
    Don't hesitate to contact us via github or by messaging at <a href="http://twitter.com/ireneros">@ireneros</a>
    or <a href="http://twitter.com/bocoup">@bocoup</a> on twitter. We are also on IRC at #bocoup on freenode. Come say hi!
  </p>
</div>