section#welcome {
  font-size: 1.2em;
  padding: 20px;
  margin-left: 7px;
  margin-right: 13px;
  margin-top: 10px;
  margin-bottom:10px;
  background-color: #EACEEB;
  border:1px solid #CFCFCF;

  .close {
    margin-left: 10px;
  }
  .mobilevis {
    font-weight: bold;
    color : #9654a1;
  }
}