<section id="welcome">

  <div class="control close">
    X
  </div>

  <p>
    Welcome to <span class="mobilevis">MobileVis</span>!
    Here we gather examples of data
    visualization usage on mobile devices and offer some observed
    <a href="http://patterns.mobilev.is">best practices</a>
    for building your mobile data visualization interfaces.
  </p>

  <p>
    <h3>Add Examples!</h3>
    This is a community effort! Please
    <% if (user) { %>
      <a href="/add">add</a>
    <% } else { %>
      <a href="/auth/twitter"> log in to add</a>
    <% } %>
    your examples to our ever-growing gallery.
  </p>
  <p>
    <h3>Learn More!</h3>
      Learn more about <span class="mobilevis">MobileVis</span> <a href="/about">here</a>
      or submit any issues on <a href="http://github.com/bocoup/mobilevis">github</a>.
  </p>

</section>
