<header>
  <div class="block">
    <a class="logo" href="/"></a>

    <ul class="menu">
      <li><a href="/about">about</a></li>
      <li><a href="http://patterns.mobilev.is">patterns</a></li>
      <% if (loggedIn) { %>
        <li><a href="/profile"><img src="src/assets/temp-pic.jpeg" width="24px"> @<%= user.get("username") %></a></li>
        <li><a href="<%= routes.auth.twitter_logout %>">logout</a></li>
        <li><a class="upload" href="/add"><img src="/src/assets/upload.svg" width="24px"></a></li>
      <% } else { %>
        <li><a href="<%= routes.auth.twitter_login %>">login with twitter</a>
        </li>
      <% } %>
    </ul>

  </div>
</header>

<section>
  <div class="block">
    <div id="flash"></div>
    <div id="breadcrumbs"></div>
    <div id="about"></div>
    <div class="content"></div>
  </div>
</section>
