<header>
  <div class="block">
    <a class="logo" href="/"><img src="/src/assets/mobilevis-logo.png"></a>
    <nav>
      <input type="checkbox" id="button">
      <label for="button" onclick=""></label>
      <ul class="menu" id="menu" role="custom-dropdown">
        <li><a href="/about">about</a></li>
        <li><a href="http://patterns.mobilev.is">patterns</a></li>
      </ul>
    </nav>

  </div>
</header>

<section>
  <div class="block">
    <div id="flash"></div>
    <div id="breadcrumbs"></div>
    <div id="about"></div>
    <div class="content"></div>
  </div>
</section>
