header {
  background: #9654A1;
  color: $link_color;
  padding: 20px;
  width: 100%;
  overflow: auto;
  margin-bottom: .5em;

  a.logo {
    margin-top : 0px;
    background-image: url(src/assets/mobilevis-logo.png);
    background-repeat: no-repeat;
    width: 213px;
    height: 63px;
    float: left;
    position: relative;
  }

  ul.menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    float: right;
    line-height: 4.5em;

    li {
      float: left;
      margin-left: 1em;

      a {
        text-decoration: none;
        color: $link_color;
        background: #80508C;
        padding: 0.8em;
        border-radius: 5px;

        &:hover {
          background: #6B4375;
        }
      }
    }
  }
}