@import "../../bower_components/bootstrap/dist/css/bootstrap.css"
@import "../../bower_components/bootstrap/dist/css/bootstrap-theme.css"
@import "../../bower_components/swiper/dist/idangerous.swiper.css"
@import "../../src/assets/select2.css"

*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }

body {
  font-family: "Museo Sans",sans-serif;
  margin: 0;
  padding: 0;
  background: #F8F8F8;
  color: #6D6C6C;

  .container {
    width: 100%
    padding: 0;

    .block {
      max-width: 1140px;
      margin: auto;  
    }
  }
}

#flash {
  display: none;
  padding: 10px;
  background-color: lightyellow;
  border: 1px solid yellow;
}
