@media only screen and (max-width: 1140px) { 

  body .container .block {
    max-width: 855px;
  }

}

@media only screen and (max-width: 850px) { 

  body .container .block {
    max-width: 570px;
  }

  header {
    padding: 0;
  }

  header a.logo {
    margin: .7em; 
    width: 150px;
  }

  .container header .block {
    max-width: 100%;
  }

  header ul.menu {
    display: none;
    width: 100%;
    line-height: 3.5em;
    padding: 0;
    margin: 0;
  }

  header ul.menu li {
    float: none;
    text-align: left;
    border-top: 1px solid #62406B;
    width: 100%;
    margin-left: 0;
  }

  header ul.menu li a {
    border-radius: 0;
    padding: 0 .7em;
    text-align: center;
  }

  nav a {
    display: block;
    padding: 16px 1.5em;
    width: 100%;
  }

  nav label {
    display: block;
    min-height: 3.5em;
  }

  nav label:after {
    background-image: url("../src/assets/menu-more.png");
    content: '';
    position: absolute;
    right: 0.85em;
    top: 0.85em;
    font-size: 1.8em;
    width: 23px;
    height: 19px;
  }

  nav input[type=checkbox]:checked ~ ul {
    display:block;
  }

  nav .active a, nav a:hover {
    color: black;
  }

}

@media only screen and (max-width: 570px) { 

  body .container section .block {
    max-width: 280px;
  }

}