@media only screen and (max-width: 1140px) { 

  body .container .block {
    max-width: 855px;
  }

}

@media only screen and (max-width: 850px) { 

  body .container .block {
    max-width: 570px;
  }

}

@media only screen and (max-width: 570px) { 

  body .container section .block {
    max-width: 280px;
  }

  header {
    padding: 1em 0 0 0;
    text-align: center;

    .block {
      max-width: 100%;
    }

    a.logo {
      display: block;
      margin: auto;
      float: none
    }

    ul.menu {
      float: none;
      display: inline-block;

      li {
        margin: 0 .3em;
      }
    }
  }

}