* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: "Museo Sans", sans-serif;
  margin: 0;
  padding: 0;
  background: #f8f8f8;
}
.content {
  padding: 20px;
}

ul.submissions {
  margin: 0px;
  padding: 0px;
}
ul.submissions li.submission {
  background-color: #eaeaea;
  display: inline-block;
  float: left;
  width: 220px;
  border: 1px solid #ddd;
  margin-right: 10px;
  padding: 10px;
}
ul.submissions li.submission h3.title {
  margin-bottom: 0px;
  margin-top: 10px;
}
ul.submissions li.submission div.creator {
  font-size: 0.8em;
  color: #444;
  margin-bottom: 10px;
}
ul.submissions li.submission div.submitted_by {
  font-size: 0.8em;
  color: #444;
}
ul.submissions li.submission div.tags {
  font-size: 0.8em;
  margin-top: 10px;
}
ul.submissions li.submission div.tags span.tag {
  padding: 3px;
  background-color: #4682b4;
  color: #fff;
  -webkit-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  cursor: pointer;
}
ul.submissions li.submission div.tags span.tag:hover {
  background-color: #ffa500;
}

.layout.single header {
  background-color: #ad3fad;
  display: inline-block;
  color: #fff;
  padding: 20px;
  width: 100%;
}
.layout.single header h1 {
  margin-top: 0px;
}
.layout.single header .links ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.layout.single header .links ul li {
  display: inline-block;
  float: left;
  margin-right: 20px;
}
.layout.single header .links ul li a {
  text-decoration: none;
  color: #efe6ea;
}
.layout.single header .links ul li a:hover {
  color: #edd53e;
}
