doctype html
html(lang='en')
  head
    title='MobileVis Gallery'
    meta('charset=UTF-8')
    meta(name='viewport', content='width=device-width,initial-scale=1')
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700', rel='stylesheet', type='text/css')
    link(href='/app.css', rel='stylesheet', type='text/css', media='all')
    //if lt IE 9
      script(src='//html5shiv.googlecode.com/svn/trunk/html5.js')

  body
    div#main.container(role='main')
    if target === 'dev'
      script(data-main="/src/requirejs/config", src="/bower_components/requirejs/require.js")
    else
      script(src="/main.js")
