/*
  Amazon credentials to an s3 bucket where images can be uploaded.
 */
module.exports =  {
  prefix: 'images/',
  cache_dir: __dirname+'/../../.cache/',
  key: 'YOUR KEY',
  secret: 'YOUR SECRET',
  bucket: 'mobilevis.bocoup.com'
};